
html {
    background-color: navajowhite;
}

code {
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

#navbar-header {
    color: oldlace;
}

.title-header {
    font-size: 40px;
    display: block;
}

.main-lis {
    text-align: center;
    list-style-position: inside;
    
}

#main-doc {
    width: 100%;
    text-align: center;
}

#navbar-header {
    font-size: 1.25em;
    font-weight: bold;
    margin: 10px
}

#smileImg {
    height: 20px;
    width: 20px;
}
/* main section */
#navbar {
    margin: 0px;
    height: 100%;
    width: 10%;
    text-align: center;
    background-color: darkslategrey;
    position: fixed;
    transition: 0.5s;
    display: block;
}
.nav-link {
    border: 2px solid black;
    color: black;
    background-color: lightseagreen;
    margin: 1px;
    display: block;
    padding: 20px;
    position: relative;
}

.main-p {
    position: relative;
    display: block;
}

@media (max-width: 960px) {
    #navbar {
        background-color: oldlace;
        width: 15%;
    }
    #navbar-header {
        color: rgb(180, 72, 72);
    }
}
@media (max-width: 800px) {
    #navbar {
        background-color: rgb(192, 106, 65);
        width: 15%;
    }
    #navbar-header {
        color: rgb(219, 212, 115);
    }
}