/* hashas style */
html {
    background-color: navajowhite;
}
code {
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}
h1 {
    text-align: center;
    color: lemonchiffon;
}
/* nav-bar */
#navbar {
    margin: 0px;
    height: 100%;
    width: 10%;
    text-align: center;
    background-color: darkslategrey;
    position: fixed;
    transition: 0.5s;
    display: block;
}
.nav-link {
    align-content: center;
    border: 2px solid black;
    color: black;
    background-color: lightseagreen;
    margin: 1px;
    display: block;
    padding: 20px;
    position: relative;
    margin: auto;
}

#navbar-header {
    color: oldlace;
    font-size: 1.25em;
    font-weight: bold;
    margin: 10px
}
/* main style */
#top-header {
    text-align: center;
    background-size: 400px;
    height: 200px;
    background-image: url(backToWork.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.title-header {
    font-size: 40px;
    display: block;
}


#main-doc {
    background-size: cover;
    width: 100%;
    text-align: center;
}

.main-p {
    position: relative;
    display: block;
}

.main-lis {
    text-align: center;
    list-style-position: inside;
    
}

#smileImg {
    height: 20px;
    width: 20px;
}

/* media quary */
@media (min-width: 1400px) {
    .main-section {
        padding-left: 0px;
    }
}
@media (max-width: 960px) {
    .main-section {
        padding-left: 130px;
    }
    #navbar {
        background-color: oldlace;
        width: 100px;
    }
    #navbar-header {
        color: rgb(180, 72, 72);
    }
}
@media (max-width: 800px) {
    .main-section {
        padding-left: 110px;
    }
    .main-p {
        position: relative;
        display: block;
    }
    .main-lis {
        text-align: center;
        list-style-position: inside;
        
    }
    #navbar {
        background-color: rgb(192, 106, 65);
    }
    #navbar-header {
        color: rgb(219, 212, 115);
    }
}