
#navbar-header {
    color: oldlace;
}

.main-lis {
    text-align: center;
    list-style-position: inside;
}
#main-doc {
    background-color: navajowhite;
    width: 100%;
    text-align: center;
}
code {
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

#navbar {
    height: 100%;
    width: 8%;
    text-align: center;
    background-color: darkslategrey;
    position: fixed;
    transition: 0.5s;
}
.nav-link {
    border: 2px solid black;
    color: black;
    background-color: lightseagreen;
    margin: 1px;
    display: block;
}

@media (max-width: 960px) {
    #navbar {
        background-color: oldlace;
        width: 15%;
    }
    #navbar-header {
        color: rgb(180, 72, 72);
    }
}
@media (max-width: 800px) {
    #navbar {
        background-color: rgb(192, 106, 65);
        width: 15%;
    }
    #navbar-header {
        color: rgb(219, 212, 115);
    }
}